<div class="main">
	<div class="content">
		<div class="Title">CapyCapyCode</div>
		<div class="parameters">
			<div class="parameters-title">Parameters:</div>
			<div class="parameters-options" *ngFor="let item of items">
				<label>
					<input type="checkbox" (change)="item.checked = !item.checked"/>{{ item.label }}
				</label>
			</div>
		</div>
		<div class="main-content">
			<button (click)="onShowPopup()">Generate password</button>
			<app-popup *ngIf="showPopup" [selectedParams]="selectedParams" (onClosePopup)="showPopup = false"></app-popup>
		</div>
	</div>
	<div class="footer">
		<img class="image" src="../assets/Images/Capybara.png" />
	</div>
</div>
