<!-- <button mat-button (click)="openDialog()">Open Popup</button> -->

<div class="main">
	<div class="content">
		<div class="Title">{{ "title" }}</div>
		<div class="parameters">
			<div class="parameters-title">Parameters</div>
			<div *ngFor="let item of items">
				<label>
					<input type="checkbox" [(ngModel)]="item.checked" />
					{{ item.label }}
				</label>
			</div>
		</div>
		<div class="main-content">
			<!-- Your page content here -->
			<button (click)="showPopup = true">Show Popup</button>

			<app-popup *ngIf="showPopup">
				<!-- Your popup content here -->
				<h2>Popup Title</h2>
				<p>Popup content goes here.</p>
				<button (click)="showPopup = false">Close</button>
			</app-popup>
		</div>
	</div>
	<div class="footer">
		<img class="image" src="../assets/Images/Capybara.png" />
	</div>
</div>
