<!-- popup.component.html -->

<div class="fullscreen-popup">
	<div class="popup-background"></div>
	<div class="popup-content">
		<app-pattern (onComplete)="addPattern($event)" *ngIf="currentModal===0"></app-pattern>
		<app-textgrid (onComplete)="addTextGrid($event)" *ngIf="currentModal===1"></app-textgrid>
		<div class="pattern-buttons">
			<button mat-raised-button color="accent" (click)="onChangeModal(false)">
				Previous
			</button>
			<button mat-raised-button color="accent" (click)="onChangeModal(true)">
				Next
			</button>
		</div>
	</div>
</div>
