<!-- app.component.html -->
<div>
    <h1>Input Fields</h1>
    <div>
      <div style="float: left; width: 50%;">
        <h3>Column 1:</h3>
        <input type="text" [(ngModel)]="inputFields[0]" />
        <input type="text" [(ngModel)]="inputFields[1]" />
        <input type="text" [(ngModel)]="inputFields[2]" />
        <input type="text" [(ngModel)]="inputFields[3]" />
      </div>
      <div style="float: left; width: 50%;">
        <h3>Column 2:</h3>
        <input type="text" [(ngModel)]="inputFields[4]" />
        <input type="text" [(ngModel)]="inputFields[5]" />
        <input type="text" [(ngModel)]="inputFields[6]" />
        <input type="text" [(ngModel)]="inputFields[7]" />
      </div>
      <div style="clear: both;"></div>
    </div>
    <button (click)="logInputs()">Log Inputs</button>
  </div>
  