<!-- app.component.html -->

	<h2 class="pattern-title">Text Grid</h2>
	<p class="desc">Enter anything anywhere.</p>
	<div class="columns">
		<div class="inputs">
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[0]" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[1]" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[2]" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[3]" />
			</mat-form-field>
		</div>
		<div class="inputs">
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[4]" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[5]" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[6]" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Type anything" (blur)="logInputs()" [(ngModel)]="inputFields[7]" />
			</mat-form-field>
		</div>
		<div style="clear: both"></div>
	</div>

