<div class="main">
    <div class="content">
        <div class="Title">{{ title }}</div>
        <div class="parameters">
            <div class="parameters-title">Izberi parametre:</div>
            <div class="parameters-options">
                <div class="checkbox-wrapper">
                    <mat-checkbox class="checkbox">Pattern</mat-checkbox>
                </div>
                <div class="checkbox-wrapper">
                    <mat-checkbox class="checkbox">Grid text</mat-checkbox>
                </div>
                <div class="checkbox-wrapper">
                    <mat-checkbox class="checkbox">Spotify</mat-checkbox>
                </div>
            </div>
        </div>
        <button mat-raised-button class="GeneratePasswd">Generate</button>
    </div>
    <div class="footer">
        <img class="image" src="../assets/Images/Capybara.png">
    </div>
</div>
    
    
    
    
    
    
    
    
